*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root{
  --backgroundColor-body:hsl(172, 67%, 45%);
  --backgroundColor-cardMain:hsl(0, 0%, 100%);
  --backgroundColor-Secondary:hsl(183, 100%, 15%);
  --color-textMain:hsl(186, 14%, 43%);
  --color-textSecond:hsl(184, 14%, 56%);
  --color-textwhite:hsl(185, 41%, 84%);

  --global-size: 20px;
  --global-sizeAlternative: 40px;
  --global-display:flex;
  --global-position:center;
  --font-size-input:24px;
  --global-Weights:700;
  --global-borderRadius: 8px;
}

body{
  background-color: var(--color-textwhite);
}

header{
  display: var(--global-display);
  justify-content: var(--global-position);
  align-items: var(--global-position);
  margin: var(--global-sizeAlternative) var(--global-size);
}

header h2{
  letter-spacing: 10px;
  color: var(--backgroundColor-Secondary);
  font-weight: var(--global-Weights);
}

main{
  background-color: var(--backgroundColor-cardMain);
  display: var(--global-display);
  flex-direction: column;
  padding: 30px;
  border-radius: var(--global-size);
}
#input{
  margin-bottom: var(--global-size);
}

#input h4{
  color: var(--color-textMain);
  margin-bottom: 10px;
  margin-top: var(--global-size);
}

input{
  width: 100%;
  font-size: var(--font-size-input);
  font-weight: var(--global-Weights);
  color: var(--backgroundColor-Secondary);
  padding: 5px 10px;
  text-align: end;
  border-radius: var(--global-borderRadius);
  border: none;
  background-color: var(--color-textwhite);  
  
}

img{
  position: absolute;
  margin: auto;
  padding: 15px;
}

.alertapeople,.alertaValor{
  display: flex;
  justify-content: space-between;
  align-items: var(--global-position);
  color: red;
}

.bottons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--global-size);
}

.bottons button{
  padding: 10px;
  border-radius: var(--global-borderRadius);
  font-size: var(--font-size-input);
  font-weight: var(--global-Weights);
  background-color: var(--backgroundColor-Secondary);
  color: var(--backgroundColor-cardMain);
  border: none;
  letter-spacing: 1px;
}

button:hover{
  cursor: pointer;
  background-color: var(--backgroundColor-body);
  color: var(--backgroundColor-Secondary);
}

.bottons button:nth-child(6){
  background-color:var(--backgroundColor-cardMain);
  color: var(--color-textMain);
}

.amount,.total{
  display: var(--global-display);
  justify-content: space-between;
}

#output{
  display: var(--global-display);
  flex-direction: column;
  background-color: var(--backgroundColor-Secondary);
  border-radius: var(--global-borderRadius);
  padding: 30px var(--global-size) var(--global-size);
}

#output .text{
  margin-bottom: 30px;
}

.text h4{
  color: var(--color-textwhite);
}

.text p{
  font-weight: var(--global-Weights);
  font-size: 13px;
  color: var(--color-textSecond);
}

.msg,.msg-valor{
  font-size: 12px;
}

output{
  font-size: var(--global-sizeAlternative);
  font-weight: var(--global-Weights);
  color: var(--backgroundColor-body);
}

#output button{
  padding: 10px;
  border-radius: var(--global-borderRadius);
  font-size: var(--font-size-input);
  font-weight: var(--global-Weights);
  background-color: var(--backgroundColor-body);
  color: var(--backgroundColor-Secondary);
  border: none;
}

#output button:hover{
  background-color: var(--color-textwhite);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: var(--global-size);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media screen and (min-width:900px){

  main{
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--global-size);
    margin: auto;    
  }

  #output{
    padding: 50px var(--global-sizeAlternative);
    padding-bottom: 0;
  }

  #output .text{
    margin-bottom: 70px;
  }

  #output button{
    margin-top: 110px;
    margin-bottom: 0;
    
  }

 

}

  

